
  <div class="row">

    <header class="intro-header" style="background-image: url(/live.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 class="cinzel"><strong>What's New</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="live_feed">

      <div class="col-lg-6">
        <h1 class="cinzel">Concerts</h1>
        <% @concerts.limit(4).each do |concert| %>
          <table>
            <tr>
              <td>
                <a href="/concerts/<%= concert.id %>">
                  <hr>
                  <%= image_tag concert.image.url(:large), :class => "concert_image", :style => "float: left; margin-right: 12px; max-height: 70%; min-width: 25%;" %>
                <h2 class="cinzel"><strong><%= concert.title %></strong></h2>
                <h4>
                  <% if concert.review.length > 150 %>
                    <%= truncate(concert.review, length: 150) %>
                    <%= link_to '...Read more', concert_path(concert), class: "read-more-#{concert.id}" %>
                  <% else %>
                    <%= concert.review %>
                  <% end %>
                </h4>
              </a></td>
            </tr>
          </table>
      <% end %>
    </div>

    <div class="col-lg-6">
      <h1 class="cinzel">Books</h1>
      <% @books.limit(4).each do |book| %>
        <table>
          <tr>
            <td>
              <a href="/books/<%= book.id %>">
                <hr>
                <%= image_tag book.image.url(:large), :class => "book_image", :style => "float: left; margin-right: 12px; margin-bottom: 5px; max-height: 65%; min-width: 25%;" %>
              <h2 class="cinzel"></strong><%= book.title %></strong></h2>
              <h4>
                <% if book.review.length > 150 %>
                  <%= truncate(book.review, length: 150) %>
                  <%= link_to '...Read more', book_path(book), class: "read-more-#{book.id}" %>
                <% else %>
                  <%= book.review %>
                <% end %>
              </h4>
            </a></td>
          </tr>
        </table>
    <% end %>
    </div>

  </div>

</div>
