<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table id="new_review">
      <tbody>
        <div class="col-md-4">
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title, :style => "height: 35px; color: black; width: 400px; margin-bottom: 20px; margin-top: 20px; margin-left: -250px;" %></td>
        </tr>
        <tr>
          <td><%= f.datetime_select :start_time, :id => "datetime" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :description%></td>
          <td><%= f.text_area :description, :style => "color:black; margin-left: -250px;"%></td>
        </tr>
        <tr>
          <td><%= f.label :address %></td>
          <td><%= f.text_field :address, :style => "height: 35px; color: black; width: 400px; margin-bottom: 20px; margin-top: 20px; margin-left: -250px;" %></td>
        </tr>
        <tr>
          <td> <%= f.submit class: "btn btn-primary", :style => "width: 125px; font-size: 17px; margin-top: 10px; padding-left: -10px;" %> <%= button_to 'Back', '/welcome/calendar', :class => "btn btn-success", :method => "get", :style => "width: 120px; font-size: 17px; margin-top: 10px;" %></td>
        </tr>
      </tbody>
</table>


<% end %>
