<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= link_to 'Edit', edit_event_path(@events) %> |
<%= link_to 'Back', events_path %>
