<%= form_for((concert), html: { multipart: true })  do |f| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table id="new_review">
      <tbody>
        <div class="col-md-4">
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title, :style => "height: 35px; color: black; width: 400px; margin-bottom: 20px; margin-top: 20px; margin-left: -120px;" %></td>
        </tr>
        <tr>
          <td><%= f.label :review %></td>
          <td><%= f.text_area :review, :style => "height: 200px; width: 400px; color: black; margin-left: -120px;" %></td>
        </tr>
        <tr>
          <td><%= f.label :image%></td>
          <td><%= f.file_field :image, :style => "margin-left: -120px;"%></td>
        </tr>
        <tr>
          <td> <%= f.submit class: "btn btn-primary", :style => "width: 125px; font-size: 17px; margin-top: 10px; padding-left: -10px;" %> <%= button_to 'Back', concerts_path, :class => "btn btn-success", :method => "get", :style => "width: 120px; font-size: 17px; margin-top: 10px;" %></td>
        </tr>
      </tbody>
</table>


<% end %>
