<p id="notice"><%= notice %></p>

<h3>Concerts</h3>

  <% @concerts.each do |concert| %>

    <div class="concert">
      <h3><a href='/concerts/<%= concert.id %>'><%= concert.title %></a></h3>

      <div class="row">

       <div class="col-md-2">
         <%= concert.review %>
       </div>
       <p></p>
        <div class="col-md-4">

         <% if current_user %>
           <%= link_to 'Edit', edit_concert_path(concert) %>
           <%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>

      </div>
    </div>
  </div>
    <% end %>
<br>

<% if current_user %>
  <%= link_to 'New Concert Review', new_concert_path %>
<% end %>
