<p id="notice"><%= notice %></p>

<h2>Concerts</h2>

  <% @concerts.each do |concert| %>

    <div class="concert">
      <h3><a href='/concerts/<%= concert.id %>' id="concert_title"><%= concert.title %></a></h3>

      <div class="row">

       <div class="col-md-2">
         <%= concert.review %>
       </div>
       <p></p>
        <div class="col-md-4">

         <% if current_user %>
           <%= link_to 'Edit', edit_concert_path(concert) %>
           <%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>

         <p>
           <%= image_tag concert.image.url(:large) %>
         </p>

      </div>
    </div>
  </div>
    <% end %>
<br>

<% if current_user %>
  <%= link_to 'New Concert Review', new_concert_path %>
<% end %>
