<p id="notice"><%= notice %></p>
<!-- outermost row -->
<div class="row">

  <!-- image row -->
  <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(concerts.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 class="cinzel">Concert Reviews</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- concert reviews row -->
  <div id="live_feed">

    <div class="row">
      <div class="col-md-10">
      <% @concerts.each do |concert| %>
      <table align="center">
        <tr>
          <td>
            <hr>
            <a href='/concerts/<%= concert.id %>'>
            <div class="col-lg-3">
              <%= image_tag concert.image.url(:large), :class => "concert_image"  %>
            </div>



        <div class="col-lg-9">
                  <h2 class="cinzel"><%= concert.title %></h2>
                  <h4>
                    <% if concert.review.length > 150 %>
                      <%= truncate(concert.review, length: 150) %>
                      <%= link_to '...Read more', concert_path(concert), class: "read-more-#{concert.id}" %>
                    <% else %>
                      <%= concert.review %>
                    <% end %>
                  </h4>
                </a></td>
              </tr>
            </table>
        <% end %>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-3">
    <% if current_user %>
      <%= link_to 'New Concert Review', new_concert_path, :class => "btn btn-info", :style => "margin-top: 15px;" %>
    <% end %>
</div>
  </div>

<!-- closing outermost row -->
</div>
