<p id="notice"><%= notice %></p>

<!-- outermost row -->
<div class="row">

  <!-- image row -->
  <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(book_reviews.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 class="cinzel"><strong>Book Reviews</strong></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- book reviews row -->
  <div id="live_feed">

    <div class="row">
      <div class="col-md-10">
      <% @books.each do |book| %>
      <table align="center">
        <tr>
          <td>
            <hr>
            <a href='/books/<%= book.id %>'>
            <div class="col-lg-3">
              <%= image_tag book.image.url(:large), :class => "concert_image"  %>
            </div>



        <div class="col-lg-9">
                  <h2 class="cinzel"><strong><%= book.title %></strong></h2>
                  <h4>
                    <% if book.review.length > 200 %>
                      <%= truncate(book.review, length: 200) %>
                      <%= link_to '...Read more', book_path(book), class: "read-more-#{book.id}" %>
                    <% else %>
                      <%= book.review %>
                    <% end %>
                  </h4>
                </a></td>
              </tr>
            </table>
        <% end %>
      </div>
    </div>
  </div>


  </div>
  <div class="row">
    <div class="col-lg-3">
      <% if current_user %>
        <%= link_to 'New Book Review', new_book_path, :class => "btn btn-info", :style => "margin-top: 15px;" %>
      <% end %>
  </div>
</div>

<!-- closing outermost row -->
</div>
