<p id="notice"><%= notice %></p>

<h3>Books</h3>

<% @books.each do |book| %>
  <div class="book">

    <h3><a href="/books/<%= book.id %>"><%= book.title %></a></h3>
    <div class="row">

      <div class="col-md-2">
        <%= book.review %>
      </div>
      <p></p>
      <div class="col-md-4">
        <% if current_user %>

          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>

        <% end %>
      </div>
    </div>
  </div>

<% end %>
<br>
<% if current_user %>
  <%= link_to 'New Book Reivew', new_book_path %>
<% end %>
