<p id="notice"><%= notice %></p>

<h1>Book Reviews</h1>

<!-- outermost row -->
<div class="row">

  <!-- image row -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <img src="concerts.jpg" alt="concerts" style="height: 25%; width: 70%;">
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- book reviews row -->
  <div class="row">

    <% @books.each do |book| %>

      <div class="col-sm-4 col-lg-4 col-md-4" >
        <div class="thumbnail" id="concerts">
          <%= image_tag book.image.url(:large), :class => "concert_image"  %>
            <div class="caption">
                <h4><a href='/books/<%= book.id %>' id="book_title"><%= book.title %></a></h4>
                <p> <%= book.review %></p>
            </div>
            <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
            <div class="row">
                <p>
                  <% if current_user %>
                  <div class="col-md-2">
                    <%= link_to 'Edit', edit_book_path(book), :class => "btn btn-success" %>
                  </div>
                  <div class="col-md-2">
                   <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
                  </div>
                  <div class="col-md-8"> <p></p>
                  </div>
                <% end %>
                </p>
            </div>
          </div>
        </div>
    <% end %>

  </div>

<!-- closing outermost row -->
</div>

<br>

<% if current_user %>
  <%= link_to 'New Book Review', new_book_path, :class => "btn btn-info" %>
<% end %>
